@charset "UTF-8";

.wam_red_text{
	color:red;
}
.wam_normal_text{
	color:black;
}

#header3_item:hover{
	cursor:pointer;
	color:black;
}

/****************************** 프로필셋팅 팝업창 **************************************/
#start_date, #end_date {
    width: 138px;
    height: 39px;
    border-radius: 6px;
    border: 1px solid;
}
.deadline_red_span {
    width: 200px;
    margin-top: 5px;
    font-size: 11px;
    color: red;
    display: none;
    position: relative;
    top: -12%;
    left: 27.5%;
}
/****************************** 프로필셋팅 팝업창 **************************************/
/********************************* 초대 팝업창 창 *************************************/
.input_email_div {
    width: auto;
    height: 25px;
    display: flex;
    gap: 5px;
    background-color: #e9e9e9;
    justify-content: space-evenly;
    font-size: 15px;
    align-items: center;
    border-radius: 5px;
    margin: 3px;
    padding: 0px 10px 0px 10px;
}
.invite_input_text_area {
    font-size: 17px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 0 30px 0;
}
.invite_email_remove_button_outline{
	fill:lightgray;
}
.invite_email_remove_button_inline{
	fill:black;
}
.invite_email_remove_button:hover{
	cursor:pointer;
	border-radius:50%;
}
.popup_EmailInput:hover{
	outline:3px solid #3f66ba;
}
.popup_ProjectInput:focus{
	outline:3px solid #3f66ba;
}
.popup_invite_whole-div {
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 31, 33, .75);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.popup_Invite {
	background-color: white;
	width: 560px;
	height: 410px;
	border-radius: 10px;
}

.popup_InviteTitle {
	width: 560px;
	height: 64px;
	padding: 0px 24px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid lightgray;
}

.popup_InviteContent {
	width: 560px;
	height: 346px;
	padding: 24px;
}

.popup_invite_XIcon {
	width: 16px;
	height: 16px;
	fill: gray;
}

.popup_invite_x_icon_div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 27px;
	height: 27px;
	width: 27px;
}

.popup_invite_XIcon:hover, .popup_invite_x_icon_div:hover {
	cursor: pointer;
	background-color: #EAEAEA;
	border-radius: 5px;
}

.popup_EmailInput {
	width: 512px;
	min-height: 100px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-bottom: 30px;
	padding-left: 10px;
}

.popup_ProjectInput {
	width: 510px;
	height: 34px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-bottom: 30px;
	padding-left: 10px;
}

.popup_invite_text {
	font-size: 12px;
	color: gray;
	margin-bottom: 10px;
}

.popup_invite_button {
	width: 68px;
	height: 36px;
	padding: 0 12px;
	border: 1px solid lightgray;
	border-radius: 10px;
	background-color: white;
	color: gray;
	margin-left: 445px;
}
.popup_invite_button.on{
	cursor:pointer;
	background-color:#3f66ba;
	color:white;
}
/********************************* 초대 팝업창 창 *************************************/

/* 상단바 생성 팝업창 기본 오프 처리*/
.create_something_popup {
	width: 165px;
	height: 200px;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: white;
	color: black;
	font-size: 15px;
	position: fixed;
	z-index: 100;
	margin: 2px 0 0 135px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	justify-content: center;
	display: none;
}

/* 상단바 생성 팝업창 온 처리 */
.create_something_popup.on {
	display: block;
}

/* 상단바 팝업창 생성 리스트 */
.popup_create_work, .popup_create_project, .popup_create_message,
	.popup_create_portfolio, .popup_create_invite {
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
}

/* 상단바 생성리스트 svg */
.topbar_popup_approve, .topbar_popup_project, .topbar_popup_message,
	.topbar_popup_portfolio, .topbar_popup_invite {
	width: 17px;
	height: 17px;
	fill: gray;
	margin: 0px 10px 0px 5px;
}

/* 상단바 생성 팝업창 호버 */
.popup_create_work:hover, .popup_create_project:hover,
	.popup_create_message:hover, .popup_create_portfolio:hover,
	.popup_create_invite:hover {
	cursor: pointer;
	background-color: #EAEAEA;
}

.img_small_favorites{
	width: 25px;
    height: 25px;
    border-radius: 50%;
    margin:3px 0px 0px 10px;
}
.img_small{
	width: 30px;
    height: 30px;
    border-radius: 50%;
}
/* 프로필셋팅팝업창 스타일 *//* 프로필셋팅팝업창 스타일 *//* 프로필셋팅팝업창 스타일 *//* 프로필셋팅팝업창 스타일 */
.profile_setting_background{
    display:none;
}
#profile_setting_main{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    z-index: 100;
    background-color: white;
}
#profile_setting_header{
    width: 720px;
    height: 64px;
    padding: 0 32px;
    float: left;
}
#profile_setting_profile{
    width: 720px;
    height: 33px;
    position: relative;
    border-bottom: 1px solid black;
}
#profile_setting_contents{
    width: 720px;
    height: 737px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.profile_setting_header_font{
    margin-top: 3px;
    margin-left: 3px;
}
.profile_setting_XIcon{
    width: 18px;
    height: 18px;
    float: right;
    margin-top: -23px;
    cursor: pointer;
}
.profile_setting_profiles{
    font-size: 16px;
    position: absolute;
    margin-left: 32px;
    cursor: pointer;
}
.profile_setting_picture_span{
    font-size: 11px;
    position: absolute;
    margin-top: 15px;
    margin-left: 32px;
}
.profile_setting_picture{
    margin-top: 36px;
    margin-left: 36px;
}
.profile_setting_picture > img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.profile_setting_new_picture{
    margin-top: -86px;
    margin-left: 177px;
    font-size: 13px;
}
.profile_setting_explanation{
    margin-top: 10px;
    margin-left: 177px;
    font-size: 12px;
    color: #6d6e6f;
}
.profile_setting_col{
    fill: #de5f73;
    width: 17px;
    height: 17px;
    margin-left: 59px;
}
.profile_setting_name{
    position: absolute;
    margin-left: 36px;
    font-size: 13px;
    color: #6d6e6f;
}
#profile_setting_name{
    
    font-size: 13px;
    width: 527px;
    margin-top: 24px;
    margin-left: 35px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #cfcbcb;
}
.profile_setting_input_name{
    margin-top: 73px;
    position: relative;
}
.profile_setting_input_text{
    margin-top: -6px;
}
.profile_setting_email{
    color: #6d6e6f;
    margin-top: 104px;
    margin-left: 36px;
    font-size: 13px;
}
.profile_setting_email_address{
    color: #afabac;
    background-color: #f9f8f8;
    border-color: #edeae9;
    width: 527px;
    height: 44px;
    margin-left: 35px;
    border-radius: 10px;
    margin-top: 22px;
    position: relative;
}
#profile_setting_email_address{
    margin-top: 7px;
    position: absolute;
    margin-left: 9px;
    font-size: 19px;
}
.profile_setting_introduction{
    color: #6d6e6f;
    margin-top: 36px;
    margin-left: 36px;
    font-size: 13px;
}
.profile_setting_introduction_text{
}
#profile_setting_introduction{
    resize: none;
    border: 1px solid #cfcbcb;
    border-radius: 10px;
    width: 527px;
    height: 75px;
    margin-left: 35px;
    margin-top: 21px;
}
#profile_setting_invite{
    margin-top: 118px;
}
.profile_setting_invite{
    color: #6d6e6f;
    margin-left: 36px;
    font-size: 13px;
}
.profile_setting_invite_text{
    margin-left: 36px;
    margin-top: 12px;
}
.profile_setting_background{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    position: fixed;
}
/* 토글 */
.toggle_switch{
    margin: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}
/* 기존의 checkbox 숨기기 */
.toggle_input{
    display:none;
}
/* 토글 스타일 지정 */
.toggle_label{
    position: relative;
    display: block;
    width: 40px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* 토글 버튼 스타일 지정 */
.toggle_label::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
/* 토글 ON 스타일 지정 */
.toggle_input:checked + .toggle_label{
    background-color: #4caf50;
}
/* 토글 ON인 경우에 버튼 위치 지정 */
.toggle_input:checked + .toggle_label::before{
    transform: translateX(16px);
}
.toggle_click_view{
    display: none;
}
.toggle_click_view.on{
    display: block;
}
.toggle_span{
    color: #1e1f21;
    margin-left: -7px;
    margin-top: 3px;
    font-size: 15px;
}
.toggle_line{
    display: flex;
    align-items: center;
}
.toggle_day{
    display: flex;
}
.toggle_start_day_span{
    margin-left: 34px;
    font-size: 14px;
}
.toggle_deadline_day_span{
    margin-left: 133px;
    font-size: 14px;
}
.toggle_day_box{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.toggle_start_box{
    border: 1px solid #cfcbcb;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    margin-left: 21px;
    cursor: pointer;
    text-align: center;
}
.toggle_deadline_box{
    border: 1px solid #cfcbcb;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    margin-left: 25px;
}
.preview_main{
    display: flex;
}
.preview_span{
    margin-left: 35px;
    margin-top: 20px;
    font-size: 13px;
}
.preview_profileImg{
    margin-top: 15px;
    margin-left: 36px;
}
.preview_profileImg > img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.5;
}
.preview_name{
    margin-left: 8px;
    margin-top: 21px;
    font-size: 14px;
}
.preview_alarm_img{
    width: 16px;
    height: -3px;
    margin-top: 20px;
    margin-left: 6px;
}
.preview_deadline{
    color: #afabac;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 11px;
    font-size: 14px;
}
/* 프로필셋팅팝업창 스타일 *//* 프로필셋팅팝업창 스타일 *//* 프로필셋팅팝업창 스타일 *//* 프로필셋팅팝업창 스타일 */

/* 프로필 이미지 팝업 창 *//* 프로필 이미지 팝업 창 *//* 프로필 이미지 팝업 창 *//* 프로필 이미지 팝업 창 *//* 프로필 이미지 팝업 창 */
.me_button_popup{
    position: fixed;
    z-index: 100;
    width: 282px;
    height: 410px;
    background-color: white;
    right: 11px;
    top: 41px;
    border: 2px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
    display: none;
}
.me_button_popup.on{
    display:block;
}
.popup_profile{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.popup_profile>div{
    margin: 1px;
}
.popup_invite_member{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.popup_profile_info_details{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.popup_setting{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.popup_logout{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.popup_invite_member:hover,.popup_profile_info_details:hover,.popup_setting:hover,.popup_logout:hover{
    cursor:pointer;
    background-color:#ededed;
}
.popup_email_font{
    font-size: 13px;
    color:gray;
}
.popup_profile_img{
    width:60px;
    height:60px;
    border-radius:50%;
}
.invite_member_icon,.info_details_icon,.setting_icon,.logout_icon{
    width:17px;
    height:17px;
    fill:gray;
}
.pop_bottom{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}
/* 프로필 이미지 팝업 창 *//* 프로필 이미지 팝업 창 *//* 프로필 이미지 팝업 창 *//* 프로필 이미지 팝업 창 *//* 프로필 이미지 팝업 창 */

.sidebar_project_plus_popup{
	position: absolute;
    z-index: 111;
    background-color: white;
    width: 160px;
    height: 80px;
    border: 1px solid lightgray;
    border-radius: 5px;
    left: 205px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    display:none;
}
.sidebar_project_plus_popup.on{
	display:flex;
}
.sidebar_create_project,
.sidebar_create_portfolio{
	width:100%;
	height:45%;
	display:flex;
	align-items:center;
	padding:0px 5px 0px 5px;
	font-size:15px;
}
.sidebar_create_project_logo,
.sidebar_create_portfolio_logo{
	width:17px;
	height:17px;
	fill:gray;
	margin:0px 7px 0px 7px;
}
.sidebar_create_project:hover,
.sidebar_create_portfolio:hover{
	background-color:#EAEAEA;
	cursor:pointer;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}

#header {
	position: relative;
	height: 49px;
	background-color: rgb(46, 46, 48);
	border-bottom: 1px solid rgb(66, 66, 68);
}

#header>#menu_button {
	position: absolute;
	top: 15px;
	left: 26px;
	fill: rgb(245, 244, 243);
	height: 16px;
	width: 16px;
	cursor: pointer;
}

#header>#creation_button {
	position: absolute;
	top: 8px;
	left: 60px;
	width: 74px;
	height: 32px;
	border-radius: 16px;
	border: 1px solid rgb(110, 109, 110);
	background-color: rgb(61, 62, 64);
	padding: 6px;
	cursor: pointer;
}

#header>#creation_button:hover {
	cursor: pointer;
}

#header>#creation_button>div {
	position: relative;
	width: 20px;
	height: 20px;
	margin-top: -1px;
	background-color: rgb(255, 88, 74);
	border-radius: 50%;
}

#header>#creation_button>div>svg {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	font-size: 14px;
	fill: white;
}

#header>#creation_button>span {
	position: absolute;
	top: 3px;
	right: 6px;
	color: rgb(245, 244, 243);
	font-size: 14px;
	line-height: 22px;
	margin: 0 6px;
}

#header>#search_div {
	position: absolute;
	top: 8px;
	left: 690px;
	width: 540px;
	height: 32px;
	background-color: rgb(86, 85, 87);
	border-radius: 16px;
}

#header>#search_div>svg {
	fill: rgb(245, 244, 243);
	width: 16px;
	height: 16px;
	margin-left: 12px;
	margin-top: 8px;
}

#header>#search_div>span {
	position: absolute;
	top: 6px;
	left: 33px;
	color: rgb(245, 244, 243);
	font-size: 14px;
}

#header>#experience25 {
	position: absolute;
	top: 15px;
	right: 196px;
	color: rgb(245, 244, 243);
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.3px;
}

#header>#charge_info {
	position: absolute;
	top: 10px;
	right: 87px;
	background-color: rgb(226, 178, 102);
	border-radius: 6px;
	padding: 8px;
	width: 97px;
	height: 28px;
}

#header>#charge_info>span {
	display: block;
	margin-top: -1px;
	margin-left: 1px;
	letter-spacing: -0.3px;
	font-size: 12px;
	line-height: 14px;
	color: rgb(30, 31, 33);
	cursor: pointer;
}

#header>#question_button {
	position: absolute;
	top: 10px;
	right: 51px;
	width: 28px;
	height: 28px;
	border: 1px solid rgb(106, 105, 106);
	border-radius: 50px;
}

#header>#question_button>svg {
	height: 12px;
	width: 12px;
	fill: rgb(162, 160, 162);
	cursor: pointer;
	margin-left: 7px;
	margin-top: 7px;
}

#header>#me_button {
	position: absolute;
	top: 10px;
	right: 14px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-position: 50%;
	background-size: cover;
	cursor:pointer;
}

.profile-img{
	width: 28px;
	height: 28px;
	border-radius:50%;
	cursor:pointer;
}

#header>svg:last-child {
	position: absolute;
	top: 10px;
	right: 5px;
	fill: rgb(245, 244, 243);
	width: 12px;
	height: 12px;
}

#content>#sidebar {
	position: relative;
	width: 241px;
	height: 905px;
	background-color: rgb(46, 46, 48);
	border-right: 1px solid rgb(66, 66, 68);
}

#content>#main {
	height: 920px;
	width: 87.43%;
}

#content>#sidebar .sidebar_item {
	position: relative;
	font-size: 14px;
	font-weight: 400;
	height: 32px;
	line-height: 32px;
}

#content>#sidebar .sidebar_item:NOT(:last-child) {
	width: 216px;
	margin: 0 12px;
}

#content>#sidebar .sidebar_item:first-child {
	margin-top: 12px;
}

#content>#sidebar .sidebar_item:hover {
	background-color: rgba(255, 255, 255, 0.11);
	border-radius: 8px;
	cursor: pointer;
}

#content>#sidebar .sidebar_item svg.MiniIcon.MiniIcon--large {
	top: 4px;
	left: 10px;
}

#content>#sidebar .sidebar_item svg.ArrowRightMiniIcon {
	fill: rgb(162, 160, 162);
	height: 12px;
	width: 12px;
	top: 10px;
	right: 8px;
}

#content>#sidebar .sidebar_item svg.UserFillIcon {
	top: 8px !important;
	left: 14px !important;
}

#content>#sidebar .sidebar_item:NOT(:last-child) svg:NOT(.MiniIcon--large):NOT(.ArrowRightMiniIcon)
	{
	top: 6px;
	left: 12px;
}

#content>#sidebar .sidebar_item:NOT(:last-child) span {
	top: 4px;
	left: 32px;
}

#content>#sidebar .sidebar_item svg {
	position: absolute;
	height: 20px;
	width: 20px;
	fill: rgb(162, 160, 162);
}

#content>#sidebar .sidebar_item span {
	position: absolute;
	color: rgb(245, 244, 243);
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin-left: 8px;
	letter-spacing: -0.3px;
}

#content>#sidebar .separator {
	height: 1px;
	width: 100%;
	border-top: 1px solid rgb(66, 66, 68);
	margin: 12px 0 8px;
}

#content>#sidebar .category {
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: rgb(245, 244, 243);
	padding: 12px 0 10px 24px;
	cursor: pointer;
}

#content>#sidebar .category .PlusMiniIcon {
	position: absolute;
	top: 16px;
	right: 20px;
	fill: rgb(162, 160, 162);
	width: 12px;
	height: 12px;
}

.PlusMiniIcon:hover {
	background-color: rgb(61, 61, 61);
	border-radius: 2px;
	fill: white;
}

#content>#sidebar .category.with_gt {
	
}

#content>#sidebar .sidebar_item:last-child>div {
	position: relative;
}

#content>#sidebar .sidebar_item:last-child>div>svg {
	top: 9px;
	left: 61px;
	width: 16px;
	height: 16px;
}

#content>#sidebar .sidebar_item:last-child>div>span {
	font-size: 14px;
	top: 5px;
	left: 77px;
	letter-spacing: -0.3px;
}

#content>#sidebar .sidebar_item:last-child {
	position: absolute;
	bottom: 8px;
	width: 100%;
	height: 68px;
	border-top: 1px solid rgb(66, 66, 68);
}

#content>#sidebar .sidebar_item:last-child>div {
	width: 208px;
	height: 36px;
	border: 1px solid rgb(86, 85, 87);
	border-radius: 6px;
	/* background-color: rgb(255, 255, 255, 0.11); */
	padding: 16px 16px;
	margin: 16px;
}

svg.MiniIcon.MiniIcon--large {
	width: 24px !important;
	height: 24px !important;
}

svg.PortfolioNavIcon {
	fill-rule: evenodd;
}

svg.ColorFillIcon--colorAqua {
	fill: rgb(158, 231, 227) !important;
}

svg.ColorFillIcon--colorMagenta {
	fill: rgb(249, 170, 239) !important;
}

svg.ColorFillIcon--colorIndigo {
	fill: rgb(166, 159, 243) !important;
}

svg.ArrowRightMiniIcon {
	
}

svg.UserFillIcon {
	width: 16px !important;
	height: 16px !important;
}

.fl {
	float: left;
}

#content {
    background-color: #f9f8f8;
    display: flex;
}
